.dashboard {
  padding: 30px;
  background: #f4f7fb;
  min-height: 100vh;
}

/* Title */

.dashboard-title {
  text-align: center;
  margin-bottom: 35px;
  color: #111827;
  font-weight: 700;
  font-size: 30px;
}

/* ---------------- STATS ---------------- */

.stats-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); */
  gap: 20px;
  margin-bottom: 35px;
}

.stat-card {
  background: linear-gradient(135deg,#6366f1,#4f46e5);
  color: white;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: all 0.25s ease;
  width: 100%;
}

/* .stat-card:nth-child(2){
  background: linear-gradient(135deg,#22c55e,#16a34a);
}

.stat-card:nth-child(3){
  background: linear-gradient(135deg,#f59e0b,#d97706);
} */

.stat-card:hover{
  transform: translateY(-4px);
}

.stat-card h3{
  margin-bottom:10px;
  font-weight:500;
  opacity:0.9;
}

.stat-card p{
  font-size:32px;
  font-weight:700;
}

/* ---------------- CHARTS ---------------- */

/* .charts-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
  gap:25px;
  margin-bottom:35px;
} */

.chart-card{
  background:white;
  /* padding:20px; */
  border-radius:14px;
  box-shadow:0 10px 25px rgba(0,0,0,0.07);
  height:380px;
  transition:0.25s;
  width: 100%;
}

.chart-card:hover{
  transform:translateY(-3px);
}

.chart-card h3{
  margin-bottom:15px;
  color:#374151;
}

/* ---------------- TABLE ---------------- */

.recent-logs{
  background:white;
  padding:20px;
  border-radius:14px;
  box-shadow:0 10px 25px rgba(0,0,0,0.07);
  overflow-x:auto;
}

.recent-logs h3{
  margin-bottom:15px;
}

.recent-logs table{
  width:100%;
  border-collapse:collapse;
  min-width:550px;
}

.recent-logs th{
  background:#111827;
  color:white;
  padding:12px;
  font-weight:500;
}

.recent-logs td{
  padding:12px;
  border-bottom:1px solid #eee;
}

.recent-logs tr:hover{
  background:#f9fafb;
}

/* Status color */

.status-success{
  color:#16a34a;
  font-weight:600;
}

.status-failed{
  color:#dc2626;
  font-weight:600;
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width:1024px){
  .stats-grid{
    grid-template-columns:1fr;
  }

  .dashboard{
    padding:20px 15px;
  }

  .dashboard-title{
    font-size:24px;
  }

  .chart-card{
    height:320px;
  }

  .stat-card p{
    font-size:26px;
  }

}

@media (max-width:600px){

  .stats-grid{
    grid-template-columns:1fr;
  }

  .chart-card{
    overflow-y: scroll;
    /* height:300px; */
  }

}